.Base64-logo {
  position: absolute;
  width: 300px;
  top: -65px;
  left: 120px;
}

.main-header {
  position: absolute;
  background-color: #04395e;
  color: #fff;
  -webkit-text-stroke: 3px black;
  height: 135px;
  width: 100%;
  border-bottom: 6px solid #000;
  font-family: PoetsenOne-Regular;
  font-size: 50px;
  padding-top: 50px;
  padding-left: 25px;
  text-shadow: 0 0 2px #000;
}

.main-content {
  padding: 180px 40px;
  background-color: #bab78f;
  border-bottom: 1px solid #aba8b5;
  font-family: PoetsenOne-Regular;
  font-size: 24px;
  min-height: 70vh;
}

.inner-content {
  background-color: #f2f2f2;
  padding: 12px;
  min-height: 70vh;
}

.projects {
  font-size: 58px;
  text-align: center;
  margin-bottom: 18px;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 4px;
  padding: 10px;
}

.hash-orbs {
  width: 256px;
}

.project-container {
  box-shadow: #414141 0px 0px 1px;
  transition: all 0.18s ease;
  padding: 10px;
  text-align: center;
}

.project-container:hover {
  box-shadow: #414141 0px 0px 8px;
  margin-top: -8px;
}

.project-container img {
  padding: none;
  width: calc(100%);
}